<div id="{$id}">
	<div style="text-align: center; margin: 20px">
		<img src="{=WP_SITEURL}/wp-admin/images/spinner.gif" />
	</div>
</div>
<script>(window.initAdminComponents = window.initAdminComponents || []).push({$component})</script>
