{extends ../@layout.latte}

{block styles}
	{include parent}
	<link rel="stylesheet" href="/assets/styles/{$buildstamp}styleguide.css">
{/block}

{block scripts}
	{include parent}
	{include ../utils/initComponent.latte handler => initStyleguideComponents, name => styleguide, place => ".sg"}
	<script src="/assets/scripts/{$buildstamp}styleguide.js" defer></script>
{/block}

{block body}
	<div class="sg">
		<div class="sg-spaces">
			<h1 class="sg-title">Styleguide</h1>
		</div>
	</div>
