[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
._*
.Trashes

/public/assets/
/config/config.local.neon
/mango.local.json
/.mango-snippet.html
/node_modules
/npm-debug.log
/vendor
/public/wp-core
/public/wp-content/uploads
/public/wp-content/cache
