@require "sizes"

lt-xxxs = "(max-width:" + $xxxs + ")"
gt-xxxs = "(min-width:" + $xxxs + ")"

xxxs-xxs = "(min-width:" + $xxxs + ") and (max-width:" + $xxs + ")"
lt-xxs = "(max-width:" + $xxs + ")"
gt-xxs = "(min-width:" + $xxs + ")"

xxs-xs = "(min-width:" + $xxs + ") and (max-width:" + $xs + ")"
lt-xs = "(max-width:" + $xs + ")"
gt-xs = "(min-width:" + $xs + ")"

xs-s = "(min-width:" + $xs + ") and (max-width:" + $s + ")"
lt-s = "(max-width:" + $s + ")"
gt-s = "(min-width:" + $s + ")"

s-m = "(min-width:" + $s + ") and (max-width:" + $m + ")"
lt-m = "(max-width:" + $m + ")"
gt-m = "(min-width:" + $m + ")"

m-l = "(min-width:" + $m + ") and (max-width:" + $l + ")"
lt-l = "(max-width:" + $l + ")"
gt-l = "(min-width:" + $l + ")"

l-xl = "(min-width:" + $l + ") and (max-width:" + $xl + ")"
lt-xl = "(max-width:" + $xl + ")"
gt-xl = "(min-width:" + $xl + ")"

xl-xxl = "(min-width:" + $xl + ") and (max-width:" + $xxl + ")"
lt-xxl = "(max-width:" + $xxl + ")"
gt-xxl = "(min-width:" + $xxl + ")"

use-transition = gt-xs
has-retina = "(min-device-pixel-ratio: 2)"

show-full-menu = gt-m
hide-full-menu = lt-m

show-mq()
  &:after
    display block
    content ''

    position fixed
    bottom 0
    left 0
    z-index 987654

    padding .3em .75em .4em .5em

    background rgba(#000, .75)
    color #FFF

    font-size 11px
    font-weight bold
    font-family sans-serif

    border solid 0 rgba(#000, .2)
    border-top-right-radius 3px
    border-top-width 1px
    border-right-width 1px

    pointer-events none

    @media lt-xxs
      content 'lt-xxs'

    @media xxs-xs
      content 'xxs-xs'

    @media xs-s
      content 'xs-s'

    @media s-m
      content 's-m'

    @media m-l
      content 'm-l'

    @media l-xl
      content 'l-xl'

    @media xl-xxl
      content 'xl-xxl'

    @media gt-xxl
      content 'gt-xxl'
