#
# Requires MetaBox plugin: http://metabox.io/
#

register:
	personal:
		title: Personal Information
		context: normal # normal, advanced, side
		settings_pages: custom_settings_page
		templates: custom-template-filename
		post_types:
			- post
			- page
		fields:
			full_name:
				name: Full name
				desc: "Format: First Last"
				type: text
			birth_date:
				name: Birth date
				type: date

	images:
		title: Images
		context: side # normal, advanced, side
		post_types:
			- page
			- video
			- header
		fields:
			profile:
				name: Profile image
				type: file
