defaults:
	public: true
	has_archive: false
	exclude_from_search: true
	publicly_queryable: false
	show_ui: true
	show_in_menu: true
	supports:
		- title
		- editor
		- author
		- thumbnail
		- excerpt
		- revisions
		- page-attributes
remove:
	- posts
	- comments
register:
	header:
		public: false
		label: Hlavičky
		menu_icon: images-alt
		supports:
			- title
			- editor
			- thumbnail

	video:
		label: Videa
		menu_icon: backup

	venue: Místa
