defaults:
	show_admin_column: true
	show_ui: true
	show_in_menu: true

register:
	repertoire_type:
		label: Typy repertoáru
		post_types:
			- video
			- header
		terms:
			repertoar-aktualni: Aktuální
			repertoar-colosseum: Colosseum
			repertoar-hoste: Hosté
			repertoar-hrali-jsme: Hráli jsme

	repertoire_school:
		label: Třídy
		post_types:
			- play
		terms:
			1-trida: 1. třída
			2-trida: 2. třída
			3-trida: 3. třída
			4-trida: 4. třída
			5-trida: 5. třída
