parameters:
	assetsDirname: assets
	assetsDir: %wwwDir%/%assetsDirname%
	wp:
		table_prefix: wp_
	s3:
		enabled: off
		bucket: uploads.mangoweb.org
		region: eu-central-1
		key:
		secret:
	builder:
		# dataTarget: "absolute path to your data.json"
		url:
		remote:
		revision:
		mango-cli:
		aws:
			bucket:
			key:
			secret:
			subfolder:

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	options:
		lazy: yes

services:
	db: Nette\Database\Context
	mailer: @nette.mailer

mail:
	smtp: true

php:
	date.timezone: Europe/Prague
