#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
	# forceDebug: on # off
	mango: on

	wp: # change on production!
		AUTH_KEY:         "teqesanuremydy$y$amutudesavyqyva$ybyra3ave3aqepavyjyzytuqanuhe$y"
		SECURE_AUTH_KEY:  "#uguhehepuny$unetyhajavaby3y#edymedujupejyrarezepeve3e#aba3e@uhe"
		LOGGED_IN_KEY:    "dydaje#ezy3yry$udubuzuva$evatedybumamuhe#ydumuga3y@yhy#usydasyra"
		NONCE_KEY:        "jamegagavu#ubepuhe$yqyzy@u@a3yzega#uqarumubunynysynebugedyrepume"
		AUTH_SALT:        "#a3ysubahave3upapa$ubamyzypuzudypuruzybu3yhada@e@uga#anu$a@utyvu"
		SECURE_AUTH_SALT: "gahuqe@udesanubazaquta$a3atypuhaze@ahytyza3usuqu3egymaby3apymeha"
		LOGGED_IN_SALT:   "rebumy$u3eqevyvadydegu@aneny3aga$yrupasybe3a@y3a#ybyqajeqybuja$y"
		NONCE_SALT:       "$asusa$yjyqatemabura#uhuze@uvanumesusenahyjyny#uzynu#y3ezypu3uva"

	database:
		driver: mysqli
		host: localhost
		username:
		password:
		database:
		charset: utf8
		sqlmode: TRADITIONAL
		profiler: on

nette:
	mailer:
		host: mailtrap.io
		secure: tls
		port: 2525
		username:
		password:
