#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

parameters:
	mango: off
	fromEmail: 'info@example.com'

	# Universal Analytics ID
	UA: 'UA-XXXXXXX-X'

	# forceDebug: on # off

	# change salting on production!
	# use https://configenerator.surge.sh/
	wp:
		AUTH_KEY:         "YFo9OsdGdc CHANGE ON PRODUCTION YFo9OsdGdd"
		SECURE_AUTH_KEY:  "rgoJjobcfb CHANGE ON PRODUCTION rgoJjobcfc"
		LOGGED_IN_KEY:    "x2GU6Bss6h CHANGE ON PRODUCTION x2GU6Bss6i"
		NONCE_KEY:        "kwF7eWA7tw CHANGE ON PRODUCTION kwF7eWA7tx"
		AUTH_SALT:        "SbPSqToK6Z CHANGE ON PRODUCTION SbPSqToK6a"
		SECURE_AUTH_SALT: "TpLLmOmKrH CHANGE ON PRODUCTION TpLLmOmKri"
		LOGGED_IN_SALT:   "DwPCNhVi7M CHANGE ON PRODUCTION DwPCNhVi7N"
		NONCE_SALT:       "bZWrihs6uo CHANGE ON PRODUCTION bZWrihs6up"

	database:
		host: localhost
		username:
		password:
		database:

	sentry:
		dsn: NULL
		format: $Format:%h$

	s3:
		enabled: true # disable on dev, enable on production
		key: "AKIAIZGO5LP3LHAUFQRQ"
		secret: # https://my.1password.com/vaults/all/allitems/lb4q5qjwxfqqaqf5f7jzxr3z7a

	imgproxy:
		key: "0aa4c34cb6636fb8d4deacd150b1c7b4"
		salt: "20030cf6ef8fc43168d77a7c05f4cd31"

mail:
	host: smtp.mailgun.org
	secure: tls
	username: info@example.com
	password:
