parameters:
	wp:
		table_prefix: wp_

database:
	dsn: 'mysql:host=%database.host%;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	options:
		lazy: yes

services:
	- App\Models\Services\Mailer

	db: Nette\Database\Context

nette:
	mailer:
		smtp: true

di:
	accessors: on

php:
	date.timezone: Europe/Prague
