#
# Only loaded in console mode
#

services:
	- Bin\Services\DoctrineFactory(%database%)
	- Bin\Services\Scaffolding(%appDir%)
	- Bin\Services\SchemaBuilder

console:
	url: http://localhost.dev/
	commands:
		- Bin\Commands\Migrations\Migrate
		- Bin\Commands\Scaffolding\Migration\Php
		- Bin\Commands\Scaffolding\Migration\Sql
		- Bin\Commands\Scaffolding\Presenter
		- Bin\Commands\Scaffolding\Rme
		- Bin\Commands\Scaffolding\Test\Unit
		- Bin\Commands\Schema\Diff
		- Bin\Commands\Tests\Data
		- Bin\Commands\Tests\Run
		- Bin\Commands\Worker

database:
	dsn: 'mysql:host=127.0.0.1;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	options:
		lazy: yes
