extensions:
	console: Kdyby\Console\DI\ConsoleExtension

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\Presenters\*\*

	session:
		expiration: 14 days

services:
  # Router
	routerFactory: App\Models\Factories\RouterFactory
	router: @routerFactory::createRouter()

