defaults:
	public: true
	has_archive: false
	exclude_from_search: true
	publicly_queryable: true
	show_ui: true
	show_in_menu: true

	supports:
		- title
		- editor
		- thumbnail
		- revisions
		- page-attributes

remove:
	- comments

register:
	thing:
		public: true
		label: Things
		icon: carrot
		rewrite:
			slug: thing
