<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Mango template</title>
<link rel="stylesheet" href="{$themePath}/assets/style/main.css">
</head>
<body>
{block #content}{/block}
</body>
</html>
