.shape
	display inline-block
	vertical-align middle
	line-height inherit

	&-defs
		visibility hidden
		position absolute
		width 0
		height 0
		overflow hidden

	// Shapes default dimensions
	&-example
		width 20px
		height 20px
		stroke #000
		fill #000

	&-mangoweb
		width 110px
		height 34px
		fill #010101
		opacity 0.75


	// ... here comes other shape dimensions


	/**
	 * Fill parent view
	 */
	&.view-fill
		display block
		width 100%
		height 100%

	/**
	 * Position and center shape absolutely
	 */
	&.view-abs
		position absolute
		margin auto

	/**
	 * Mirrored views
	 */
	&.view-180deg
		transform rotate(180deg)

	&.view-90deg
		transform rotate(90deg)

	&.view-270deg
		transform rotate(270deg)

