{extends @layout.latte}

{block #content}
<h1>Welcome to MangoPress</h1>
<p>This is a front-page template located in <code>theme/views/home.latte</code>.</p>

{loop}
<article class="post">
  <h2 class="post-title"><a href="{$Post|wp_permalink}">{$Post|wp_title}</a></h2>
  <div class="post-content">
    {$Post|wp_content}
  </div>
</article>
{/loop}
