{extends @layout.latte}

{block #content}
<h1>{$greeting} world!</h1>
<p>This is a theme template.</p>

<article n:loop>
  <h2><a href="{get_the_permalink()}">{get_the_title()}</a></h2>
  <p>{get_the_excerpt()}</p>
</article>
